.contact__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10rem;
}

.gegevens {
  max-width: 50%;
}

.gegevensgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.gegevensgrid__item {
  margin: 2rem;
}

.gegevensuitleg {
  max-width: 50%;
}

.contactimg {
  left: 0;
  align-self: flex-start;
  max-height: 50rem;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {

  .gegevensgrid {
    max-width: 70%;
  }

  .gegevensuitleg {
    max-width: 70%;
  }

  .contactimg {
    max-height: 30rem;
  }
}
