.firsthomeimg {
  height: 100%;
}

.hometop {
  width: 80%;
}

.tophome {
  background-color: var(--background);
  z-index: 1;
  justify-items: center;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 35rem;
  height: 100%;
  margin-bottom: -.6rem;
  max-width: 100%;
}

.home__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.home__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.artikel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 35rem;
  max-height: 55rem;
  margin-bottom: -.6rem;
  max-width: 100%;
}

.reverse {
  z-index: -5;
  position: relative;
}

.homeimg {
  width: 49.5vw;
  min-height: 45rem;
  max-height: 65rem;
  height: 100%;
  object-fit: cover;
}

.textsection {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: start;
  align-items: flex-start;
  align-content: start;
  padding: 5rem 12rem;
  min-height: 45rem;
  height: 100%;
  max-height: 65rem;
}

.paginatitelgroot {
  font-size: 3rem;
  margin: 1rem 0 2rem;
}

/*------------------------------------------*/

.dek {
  background-color: var(--lightgreen);
}

.white {
  background-color: white;
  z-index: 1;
}

.show {
  background-color: var(--background);
  z-index: 2;
}

/*------------------------------------------*/

.section__container__instagallery {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 5rem 0;
  z-index: 3;
}

.container__instagallery {
  background-color: var(--solight);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

.instaimg {
  max-width: 30rem;
  max-height: 30rem;
  object-fit: cover;
}

.home__plant {
  position: absolute;
  z-index: -1;
}

.plantlinks {
  margin-top: 4rem;
  max-height: 30rem;
  left: 0;
}

.plantrechts {
  max-height: 40rem;
  right: 0;
  z-index: 1;
}

/*----------------------------------------
------------------------------------------*/

@media only screen and (max-width: 1300px) {

  .instaimg {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
  }

  .paginatitelgroot {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .artikel {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 1000px) {

  .desktop {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .firsthomeimg {
    opacity: 0%;
    width: 1%;
  }

  .homeimg {
    width: 50vw;
  }

  .firsthometextsection, .dealpacatoptext {
    width: 100%;
    padding: 3rem 0 3rem 5rem;
  }

  .headerpiece {
    background-color: var(--background);
    z-index: 1;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-width: 900px) {

  .section__container__instagallery {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 3rem 0;
    background-color: white;
  }

  .instaimg {
    max-width: 15rem;
    max-height: 15rem;
    object-fit: cover;
  }
}
