@import './css/reset.css';
@import './css/vars.css';
@import './css/home.css';
@import './css/detail.css';
@import './css/addform.css';
@import './css/overview.css';
@import './css/tekoop.css';
@import './css/dealpaca.css';
@import './css/contact.css';
@import './css/gallerij.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*, *:before, *:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColor);
  width: 100%;
  font-size: 1.6rem;
  color: var(--darkgrey);
  line-height: 1.5;
}

main {
  width: 100%;
  /*width: 94.6rem;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 50rem;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.noDisplay {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  transition: all 300ms;
  opacity: 0;
}

/*------------------------------------------*/

.logo {
  max-width: 10rem;
  margin-left: 1rem;
}

.instaicon {
  max-width: 2rem;
}

/*------------------------------------------*/

.button {
  background-color: var(--bubblegrey);
  color: white;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .4s;
  font-weight: 800;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: var(--darkgrey);
}

.paginatitel {
  margin-bottom: 1rem;
}

.desktop {
  background-color: var(--darkgrey);
  padding: 1rem 2.5rem;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.first {
  padding-left: -28rem;
}

.middle {
  padding-left: 24rem;
}

.startbtn a {
  text-decoration: none;
  color: white;
}

.alpaca {
  min-width: 100%;
}

.alpaca__artikel {
  margin: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 100%;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  background-color: var(--darkgrey);
  min-height: 4rem;
  padding: 1rem;
}

/*------------------------------------------*/

.introvideo {
  position: absolute;
  opacity: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  object-fit: cover;
}

.startbtn {
  position: relative;
  z-index: 5;
  padding: 4rem 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: .4s;
  font-weight: 800;
  background-color: var(--darkgrey);
  opacity: 50%;
}

.startbtn:hover {
  opacity: 100%;
}

.introbtns {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-top: 20rem;
}

/*------------------------------------------*/

.footer__elements {
  background-color: var(--darkgrey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  min-height: 20rem;
  margin: 3rem 0 0;
  padding: 0 30rem;
}

.footer__tekst {
  color: white;
  max-width: 15rem;
  margin: 1rem;
}

.footer__logo {
  max-width: 10rem;
  margin: 1rem;
}

/*----------------------------------------
------------------------------------------*/

@media only screen and (max-width: 900px) {

  .items__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.4rem 1.4rem;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .plantlinks {
    max-height: 20rem;
    margin-top: -2rem;
  }

  .logo {
    max-width: 8rem;
    margin: -1.7rem;
  }

  .instaicon {
    max-width: 1.2rem;
  }

  .footer__tekst {
    font-size: 1.4rem;
  }

  .footer__elements {
    background-color: var(--darkgrey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    min-height: 20rem;
    margin: 10rem 0 0;
    padding: 0 5rem;
  }

  .textsection {
    width: 100%;
    padding: 3rem;
  }

}

/*----------------------------------------
-------------------------------------------*/

@media only screen and (min-width: 1050px) {

  .checkbox, .mobile {
    display: none;
  }

  .footer__elements {
    margin: 10rem 0 0;
  }

}

@media only screen and (min-width: 700px) {

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    min-width: 100%;
    background-color: var(--darkgrey);
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .navbar__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .items__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 3.4rem 1.6rem;
    text-decoration: none;
  }

}

@media only screen and (max-width: 700px) {

  .footer__elements {
    display: none;
  }

  p {
    padding: 1rem;
  }

  .showresult {
    width: 90%;
  }

  .detail__profile__pic {
    width: 15rem;
    height: 15rem;
    margin: -1rem;
  }

  .plantlinks {
    margin-top: -2rem;
    max-height: 20rem;
    left: 0;
  }

  .artikel {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .homeimg {
    display: none;
    width: 0%;
  }

  .textsection {
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 1rem;
    margin: 0;
  }

  .litems__itemi a:hover {
    text-decoration: underline;
  }

  .checkbox {
    z-index: 4;
  }

  .section__container__instagallery {
    display: none;
  }

  .tekoop__nav__button {
    border: .2rem solid var(--darkgrey);
    padding: 1.2rem 2rem;
    font-weight: 800;
    margin: 1rem 0 2rem  -.2rem;
    transition: .4s;
  }

  .tekoop__artikel {
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 1rem;
  }

  .dealpaca__navbar__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .dealpaca__grid {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 60rem;
    margin: 5rem 0;
  }

  .dealpaca__artikel {
    width: 95%;
    margin: 1rem 0;
  }

  .infoimg {
    padding: 1rem;
  }

  .lastimg {
    display: none;
  }

  .dealpaca__gamebtn {
    border: .2rem solid var(--darkgrey);
    padding: 1rem 3rem;
    font-weight: 800;
    margin-left: -.2rem;
    transition: .4s;
    margin-top: 4rem;
  }

  .game {
    padding: 1rem;
  }

  .een {
    border: .2rem solid var(--darkgrey);
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin-top: 0;
    border-top: var(--lightgreen);
  }

  .vier {
    border: .2rem solid var(--darkgrey);
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin-bottom: -5rem;
    border-bottom: var(--lightgreen);
  }

  .gallerij__img {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }

  .gallerij__img__item:hover {
    object-fit: cover;
    transform: scale(1);
  }

  .contactimg {
    display: none;
  }

  .gegevensuitleg {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1050px) {

  .detailtop {
    border: none;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-width: 100%;
    background-color: var(--darkgrey);
    min-height: 4rem;
    padding: 1rem;
  }

  .middle {
    padding-left: 16rem;
  }

  .desktop {
    display: none;
  }

  .menuToggle {
    display: block;
    position: relative;
    top: .1rem;
    left: .1rem;
    z-index: 3;
    user-select: none;
  }

  .menuToggle a {
    text-decoration: none;
    color: white;
    transition: color .3s ease;
  }

  .menuToggle input {
    display: block;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    top: -.7rem;
    left: -.5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    -webkit-touch-callout: none;
  }

  .menuToggle span {
    display: block;
    width: 3.3rem;
    height: .4rem;
    margin-bottom: .5rem;
    position: relative;
    background: white;
    border-radius: .3rem;
    z-index: 1;
    transform-origin: .4rem 0;
    transition: transform .5s;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.2, .2);
  }

  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    width: 30rem;
    padding-top: 2.5rem;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    display: none;
    transition: .5s;
    z-index: 1;
    background-color: var(--darkgrey);
  }

  .menu li {
    padding: .1rem 0;
    font-size: 2.2rem;
  }

  .menuToggle input:checked ~ ul {
    display: block;
  }
}
